body {
  box-sizing: border-box;
  font-family: Roboto, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.tags {
  margin: 0 auto;
  padding: 0 18px;
  max-width: 864px;
}

.tags ul {
  display: flex;
  font-size: 13px;
  flex-wrap: wrap;
  padding: 12px;
  border: solid 1px #dddfe0;
  max-width: 864px;
}

.tags li {
  z-index: 0;
  position: relative;
  display: flex;
  padding:  14px 36px 14px 12px;
  overflow: hidden;
  white-space: nowrap;
  background-color: #eef2f7;
  border-radius: 6px;
  margin: 7px 6px 5px;
}

.tags input {
  position: absolute;
  z-index: 2;
  right: 12px;
  top: 15px;
  width: 12px;
  height: 12px;
}

.tags li:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 246px;
  min-width: 43px;
  height: 42px;
  background: linear-gradient(to right, rgba(238, 242, 247, 0.4), #eef2f7);
  content: '';
}
