body {
  box-sizing: border-box;
  font-family: Roboto, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.tags {
  margin: 0 auto;
  padding: 0 18px;
  max-width: 864px;
}

.tags ul {
  display: flex;
  font-size: 13px;
  flex-wrap: wrap;
  padding: 12px;
  border: solid 1px #dddfe0;
}

.tags li {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 14px 35px 14px 10px;
  margin: 7px 7px 5px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  background-color: #eef2f7;
  border-radius: 6px;

}

.tags input {
  position: absolute;
  z-index: 2;
  right: 12px;
  top: 15px;
  width: 12px;
  height: 12px;
}

.tags li:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 275px;
  height: 42px;
  width: 54px;
  background-image: linear-gradient(to right, rgba(238, 242, 247, 0), #eef2f7 30px, #eef2f7);
  content: '';
}
